/* ErrorPage.css */
#error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

#error-page h1 {
    font-size: 4rem;
    color: #e63946;
    margin-bottom: 10px;
    font-weight: bold;
}

#error-page p {
    font-size: 1.2rem;
    color: #495057;
    margin: 5px 0;
}

#error-page i {
    color: #6c757d;
}

.back-home-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    /* Blue background for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-home-button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}